body{
  font-family:"Baskervville", serif;
}
.header{
  background: #476EF7;
  color:white;
  padding-left:25px;
  padding-top: 10px;
  font-size: large;
  height:60px;
  border-radius: 4px;
}

.input-form{
  display:flex;
  border:1px solid black;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #476EF7;
  margin-top: 15px;
  padding: 25px 0px;
  box-sizing: border-box;
}
#add-button{
  background: #476EF7;
  width: 50px;
  height:50px;
  border-radius: 50%;
  font-size: x-large;
  font-weight: 600;
  color: white;
}
.form-floating{
  height:40px;
}
.inputs{
  width:20%;
}
.form-select{
  height:40px;
}
.container{
  display:flex;
  justify-content: space-between;
  margin:25px;
}

.card {
  display: flex;
  width:30%;
  height:150px;
  border: 1px solid #000000;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 8px;
  background: #476EF7;
  color:white;
  text-align:center;
}
div p{
  font-size: 40px;
  text-align:center;
}

table{
  width:95%;
  border-collapse: collapse;
  margin-top: 20px;
  margin:auto;
}
th, td{
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid rgb(28, 31, 28);
}
th{
  background: #476EF7;
  font-weight: bold;
}
tr:hover{
  background-color: rgb(0, 255, 145);
}
.action-button{
  background-color: red;
  color:white;
  border:none;
  padding:5px 10px;
  border-radius: 50%;
  cursor:pointer;
}
@media only screen and (max-width: 768px){
  .header{
    background: black;
  }
  .input-form{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.inputs{
  width:50%;
}
#add-button{
  background:black;
  width: 50px;
  border-radius: 8px;
}
.container{
  display:flex;
  width:95%;
  margin:auto;
  justify-content:space-between;
  flex-wrap:wrap;
  gap:15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card{
  background: black;
  border:0px;
  height:150px;
  width:150px;
}
.card h3{
  font-size: medium;
  
}
.card p{
  font-size: 20px;
  align-content: center;
}
th{
  background:black;
  color:white;
}

}







  
